
body{
    /*center the page content*/
    margin: 0 auto;
    width: 950px;
    background-color: #e8e9be;
    text-align: center;
}

#Romney {
       float: left;
   }

header  {
    background: rgba(197, 123, 31, 1);
    width: 100%;
    padding: 1px;
    text-align: center;
    height: 192px;
}

h1 {
    color: #5b756a;
    padding-top: 30px;
}
h3 {
    text-align: center;
}
#calculator {
    color: #090907;
    width: 850px;
    padding : 30px;
    width: 800px;
    height: 500px;
}

#content {
    display: inline-block;
    /*padding:20px*/
}

label {
    padding:10px;
}
#priceBox, #widthBox, #lengthBox, #quantityBox, #areaCostBox {
    text-align: right;
    /*float: right;*/
    padding:5px
}

#formLeft, #formRight {
    text-align: right;
    width: 400px
    height: 500px;
    /*padding:20px*/
}

#calculate {
    font-size: 24px;
}

#formLeft {
    float:left;
    /*padding-left:40px;*/
}

#formRight {
    float: right;
}
.badBox {
    background: red;
    color: white;
}

footer {
    width:100%;
    text-align: center;
    background-color: white;
    height: 5em;

}